FuriousAdvanceTracker_v0.2.0.gba
*.elf
*.s
*.mk
nbproject
*.o
*.zip
*.sav
manual/tmp
manual/FAT_documentation_FR.iso
manual/*.pdf
gfx/icons
gfx/img
doc/html
doc/latex
doc/man
deploy_doc.sh
manual/FAT_documentation_EN.pages
*.gbfs
